<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <!--link rel="stylesheet" href="shop.css"-->
 </head>
 <body>
	<header>
	  <div class="collapse bg-dark" id="navbarHeader">
		<div class="container">
		  <div class="row">
			<div class="col-sm-8 col-md-7 py-4">
			  <h4 class="text-white">О магазине</h4>
			  <p class="text-muted">Низкие цены. Ниже чем IQ наших типичный покупателей. <br> Телефон: 8903634511 <br> Email: AWsome@mail.ru </p>
			</div>
			<div class="col-sm-4 offset-md-1 py-4">
			  <h4 class="text-white">Контакты</h4>
			  <ul class="list-unstyled">
				<li><a href="#" class="text-white">Twitter</a></li>
				<li><a href="#" class="text-white">Instagramm</a></li>
				<li><a href="#" class="text-white">VK</a></li>
			  </ul>
			</div>
		  </div>
		</div>
	  </div>
	  <div class="navbar navbar-dark bg-dark shadow-sm">
		<div class="container d-flex justify-content-between">
		  <a href="#" class="navbar-brand d-flex align-items-center">
			<strong>AWsome</strong>
		  </a>
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		  </button>
		</div>
	  </div>
	</header>

	<main role="main">

	  <section class="jumbotron text-center">
		<div class="container">
		  <h1 class="jumbotron-heading">Каталог одежды</h1>
		  <p class="lead text-muted">Здесь предствлен различный выбор одежды с принтами в HD или ULTRA HD. (ps Здесь должен был быть слайдер)</p>
		</div>
	  </section>

	  <div class="album py-5 bg-light">
 {% block content %}

{% endblock %}

	  </div>

	</main>

	<footer class="text-muted">
	  <div class="container">
		<p class="float-right">
		  <a href="#">Вверх</a>
		</p>
		<p>Basil's template; Not for copy! Or bear Ivan will break your legs^_^</p>
	  </div>
	</footer>

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <!--script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script-->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
 </body>
</html>