{% extends "clothes/base.html" %}

{% block content %}


<button class="btn btn-primary" id="btn_enter" type="enter" data-toggle="modal"
                data-target="#Enter_new">Добавить</button>
    <div><br></div>

<div class="row">
 {% for c in clothes %}
    <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
            <div class="card-body text-center">
                <image src="{{c.thumb.url}}" class="card-img-top"  color="#eceeef" background="#55595c">
                <p class="card-text">{{ c.Name }} </p>
                <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                        <a href="#!" class="btn btn-info btn-xs" data-toggle="modal" data-target="#modalView{{ c.ID_Cloth }}">Подробнее</a>
                         <a href="#!" class="btn btn-info btn-xs" data-toggle="modal" data-target="#modalEdit{{ c.ID_Cloth }}">Редактировать</a>

                          <form action="{% url 'index' %}" method="POST">
                        <input type="hidden" required class="form-control" name="_method" id="_method" value = "DELETE">
                        <input type="hidden" required class="form-control" name="new_id" id="new_id" value = "{{ c.ID_Cloth }}">
                        <input type="submit" class="btn btn-default" value="Удалить" >
                    </form>
                    </div>
                    <small class="text-muted">{{ c.Cost }}</small>
                </div>
            </div>
        </div>
    </div>

     <div id="modalEdit{{ c.ID_Cloth }}" class="modal fade" role="dialog">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                <h4 class="modal-title"></h4>
                                            </div>
                                            <div class="modal-body">
                                                <form action="{% url 'index' %}" method="POST">
                                                    {% csrf_token %}
                                                    <div class="form-group">
                                                        <label>Наименование</label>
                                                        <input type="hidden" required class="form-control" name="_method" id="_method" value = "PUT">
                                                        <input type="hidden" required class="form-control" name="new_id" id="new_id" value = "{{ c.ID_Cloth }}">
                                                        <input type="text" required class="form-control" name="name" id="name" value = "{{ c.Name }}">

                                                        <label>Цена</label>
                                                        <input type="text" required class="form-control" name="cost" id="cost" value = "{{ c.Cost }}">

                                                        <label>Производитель</label>
                                                        <select id="RequestType" class="form-control" name="ID_producer" id="ID_producer">
                                                            {% for p in producer %}
                                                                <option selected value= "{{ p.ID_Producer }}">
                                                                    {{ p.Name }}
                                                                </option>
                                                            {% endfor %}
                                                        </select>

                                                        <label>Тип</label>
                                                        <select id="RequestType" class="form-control" name="ID_type" id="ID_type">
                                                            {% for t in type %}
                                                                <option selected value= "{{ t.ID_Type }}">
                                                                    {{ t.Name }}
                                                                </option>
                                                            {% endfor %}
                                                        </select>
                                                    </div>
                                                    <div class="form-group">
                                                        <button class="btn btn-warning" type="submit">Обновить</button>
                                                    </div>
                                                </form>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                                            </div>
                                        </div>

                                    </div>
     </div>

     <div id="modalView{{ c.ID_Cloth }}" class="modal fade" role="dialog">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                <h4 class="modal-title"></h4>
                                            </div>
                                            <div class="modal-body">
                                                <form>
                                                    {% csrf_token %}
                                                    <div class="form-group">
                                                      <image src="{{c.thumb.url}}" class="card-img-top"  color="#eceeef" background="#55595c">
                                                        <label>Наименование</label>
                                                        <input type="text" disabled class="form-control" name="name" id="name" value = "{{ c.Name }}">

                                                        <label>Цена</label>
                                                        <input type="text" disabled class="form-control" name="cost" id="cost" value = "{{ c.Cost }}">

                                                        <label>Производитель</label>
                                                    <input type="text" disabled class="form-control" name="producer" id="producer" value = "{{ c.Producer.Name }}">


                                                        <label>Тип</label>
                                                        <input type="text" disabled class="form-control" name="type" id="type" value = "{{ c.Type.Name }}">

                                                    </div>
                                                </form>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                                            </div>
                                        </div>

                                    </div>
     </div>

{% endfor %}
</div>




      <!-- MODAL -->


    <div id="Enter_new" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body">
                    <form method="POST">
                        <div class="form-group">
                            <input type="hidden" required class="form-control" name="_method" id="_method" value = "POST">
                            <label for="name">Название</label>
                            <input type="text" required class="form-control" name="name" id="name">
                        </div>
                        <div class="form-group">
                            <label for="body">Цена</label>
                            <input type="text" required class="form-control" name="price" id="price">

                        </div>
                        <div class="form-group">
                            <label for="level">Производитель</label>
                            <select id="RequestType" class="form-control" name="ID_producer" id="ID_producer">
                            {% for p in producer %}
                                    <option selected value= "{{ p.ID_Producer }}">
                                        {{ p.Name }}
                                    </option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Тип</label>
                            <select id="RequestType" class="form-control" name="ID_type" id="ID_type">
                                {% for t in type %}
                                    <option selected value= "{{ t.ID_Type }}">
                                        {{ t.Name }}
                                    </option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="form-group">
                            <button class="btn btn-primary" id="btn_admin" type="submit">Добавить</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
